:root {
    --main-font: 'Nunito', sans-serif;
    --main-color: rgb(163, 127, 162);
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 100vh;
    background-color: rgb(113, 118, 189);
    box-sizing: border-box;
    overflow: hidden;
}

.navigation__logo {
    height: 41px;
    border-bottom: 2px solid white;
}

.navigation__logo a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navigation__logo-image {
    padding: 0.5rem;
    width: 50px;
}

.navigation__task-items {
    list-style: none;
    padding-left: 0px;
}

.navigation__task-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.navigation__task-item a:hover {
    background-color: rgba(192, 169, 147, 0.555);
    transform: scale(105%);
    border-left: 12px solid rgb(255, 255, 255);
}

.navigation__task-item a {
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    display: inline-block;
    width: 100%;
    transition: all 0.5s ease;
}

a.active::before {
    display: none;
}

a.active {
    background-color: rgb(63, 194, 118);
}

.navigation__task-item a::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: 6px solid transparent;
    border-right-color: rgb(255, 255, 255);
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    margin-left: 1rem;
    top: 4px;
}

.employee-icon {
    position: relative;
    background: url(svgs/employee.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.office-icon {
    position: relative;
    background: url(svgs/office.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.personoff-icon {
    position: relative;
    background: url(svgs/person_off.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.task-icon {
    position: relative;
    background: url(svgs/task.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.notify-icon {
    position: relative;
    background: url(svgs/notifications.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.support-icon {
    position: relative;
    background: url(svgs/support_agent.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.navigation__task-item__text {
    margin-left: 1rem;
}

.navigation__version {
    color: white;
    text-align: center;
}

.main {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 41px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.header__search {
    position: relative;
}

.header__search-input {
    position: absolute;
    left: 41px;
    border: none;
    font-size: 0.7rem;
    letter-spacing: 1px;
    outline: none;
    line-height: 38px;
    padding-top: 2px;
}

.search-icon {
    position: absolute;
    background: url(svgs/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 30px;
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 0.6rem;
    box-sizing: border-box;
    cursor: pointer;
}

.header__profile {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__profile-image {
    width: 41px;
    height: 41px;
}

.header__profile-image img {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.header__profile-image img:hover {
    border: 2px solid rgb(52, 50, 180);
    box-sizing: border-box;
}

.header__profile-name {
    font-weight: 700;
}

.header__profile-notify {
    margin-right: 2rem;
    cursor: pointer;
}

.notify-number.active {
    display: block;
}

.notify-number {
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    right: 28px;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.6rem;
    z-index: 1;
}

.notify__items {
    display: none;
    position: absolute;
    top: 100%;
    right: 5px;
    list-style: none;
    background-color: white;
    padding-left: 0;
    margin: 0;
    border: 1px solid rgb(150, 109, 226);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 200px;
    max-height: 300px;
    min-height: 150px;
    height: fit-content;
    overflow-y: scroll;
    z-index: 2;
}

.notify__item {
    padding: 0.2rem;
}

.notify__items::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
}

.notify__items::-webkit-scrollbar-thumb {
    background-color: #32eb21;
}

.notify__items::before {
    content: "";
    position: absolute;
    top: -17px;
    right: 30px;
    border: 0.5rem solid transparent;
    border-bottom-color: rgb(150, 109, 226);
}

.notify__item-name {
    font-size: 0.6rem;
}

.notify__item-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

.notify__item-time {
    font-size: 0.6rem;
    font-weight: 700;
}

.notify__item-sender {
    display: inline-block;
    text-transform: capitalize;
}

.notify__item-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.notify__item-time {
    margin: 0;
}

.notify__items a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify__items a:hover {
    background-color: rgb(223, 216, 207);
}

.notify-icon::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    width: 20px;
    height: 20px;
}

.notify-icon:hover+.notify__items {
    display: block;
}

.notify-number:hover+.notify__items {
    display: block;
}

.notify__items:hover {
    display: block;
}

.app {
    height: calc(100vh - 43px - 3rem);
    margin: 1.5rem;
    box-sizing: border-box;
}

.app__content {
    height: 100%;
}

.app__content-header {
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.app__content-body__table {
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0.5rem;
}

.app__content-body__table tr {
    display: block;
    width: 100%;
}

.app__content-body__thead {
    width: 100%;
    display: inline-block;
}

.app__content-body__tbody {
    display: inline-block;
    width: 100%;
    color: rgb(34, 9, 9);
    font-size: 1rem;
    height: calc(100vh - 128px);
    overflow-y: scroll;
}

.app__content-body__tbody::-webkit-scrollbar {
    display: none;
}

.app__content-body__thead td {
    background-color: rgb(185, 181, 175);
    width: 19%;
}

.app__content-body__tbody td,
.app__content-body__thead td {
    display: inline-block;
    border-left: 1px solid rgb(202, 215, 226);
    width: 19%;
    min-width: fit-content;
    height: 21px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.app__content-body__tbody td {
    font-size: 0.7rem;
}

.app__content-body__tbody tr:nth-child(even) {
    background-color: #c9e7c6;
}

.add-icon {
    position: relative;
    background: url(svgs/person_add_black_48dp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.profile-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.287);
    z-index: 6;
    transition: all 0.3s ease;
    animation: showProfile 0.3s ease;
}

@keyframes showProfile {
    from {
        background-color: white;
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.profile-view__header {}

.profile-view__header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-view__body {
    padding: 2rem;
}

.profile>.profile-view__action {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.office-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.287);
    z-index: 6;
    transition: all 0.3s ease;
    animation: showProfile 0.3s ease;
}

.office {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.office-view__header {
    display: flex;
}

.office-view__header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.office-user {}

.office-name {}

.office-username {}

.office-view__body {}

.office-view__body-id {}

.office-view__body-office {}

.office-view__body-position {}

.office-view__action {}

.office>.office-view__action {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.office-new {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.287);
    z-index: 6;
    transition: all 0.3s ease;
    animation: showProfile 0.3s ease;
}

.office-new__child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.office-new .office-new__action {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}