:root {
    --main-color: rgb(24, 119, 242);
    --main-font: 'Nunito', sans-serif;
}

body {
    margin: 0;
    box-sizing: inherit;
    font-family: var(--main-font);
}


/* icon */

.icon {
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    margin-left: 1rem;
    top: 4px;
}

.employee-icon {
    position: relative;
    background: url(svgs/employee.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.office-icon {
    position: relative;
    background: url(svgs/office.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.person-off-icon {
    position: relative;
    background: url(svgs/person_off.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.task-icon {
    position: relative;
    background: url(svgs/task.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.notify-icon {
    position: relative;
    background: url(svgs/notifications.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.support-icon {
    position: relative;
    background: url(svgs/support_agent.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.search-icon {
    position: absolute;
    background: url(svgs/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 30px;
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 0.6rem;
    box-sizing: border-box;
    cursor: pointer;
}


/* login.php */

.login {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background_login.webp);
    background-size: cover;
    transition: all 0s ease;
}

.login__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34rem;
    width: 20rem;
    background-image: linear-gradient(rgba(76, 38, 212, 0.486), rgba(197, 172, 176, 0.472));
    display: inline-block;
    box-shadow: 0 0 0.5rem black;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.login__container:hover {
    height: 34.2rem;
    width: 20.2rem;
    box-shadow: 0 0 1rem black;
}

.login__container__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.login__container__image {
    margin-top: 2rem;
}

.login__container__inputs {
    width: 85%;
}

.login__container__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.input__container__text {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 1.3rem;
    margin-bottom: 1rem;
    color: white;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.input__container__text:focus {
    transform: scale(105%);
}

.login__container__failed {
    display: none;
    position: absolute;
    top: 64%;
    animation: loginFailed 0.2s ease-in-out;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.login__container__button {
    padding: 0.8rem 3rem;
    border-radius: 3rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.493);
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(133, 71, 71);
    transition: all 0.2s ease;
}

.login__container__button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(103%);
}

.login ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: var(--main-font);
    text-align: center;
    /* Firefox */
}

.login :-ms-input-placeholder,

/* Internet Explorer 10-11 */

.login ::-ms-input-placeholder
/* Microsoft Edge */

{
    color: white;
    letter-spacing: 1px;
    font-family: var(--main-font);
    text-align: center;
}

.login ::-ms-reveal {
    filter: invert(100%);
}

@keyframes loginFailed {
    0% {
        top: 63%;
    }
    25% {
        top: 65%;
    }
    50% {
        top: 63%;
    }
    100% {
        top: 65%;
    }
}


/* change password */

.change-password {
    position: relative;
    background-color: rgb(241, 234, 225);
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.change-password__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password__container__form {
    margin-top: 20px;
    background-color: white;
    padding: 2rem;
}

.change-password__container__title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
}

.change-password .change-password__container__inputs {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
}

.change-password label {
    display: block;
    font-size: 0.8rem;
    color: rgba(60, 83, 40, 0.74);
}

.change-password input {
    border: none;
    outline: none;
    padding: 0.6rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(204, 204, 204);
}

.change-password input:focus {
    border-bottom: 2px solid rgb(11, 73, 153);
}

.change-password button {
    margin-top: 1rem;
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: var(--main-color);
    color: white;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
}

.change-password ::placeholder {
    color: rgb(204, 204, 204);
    font-size: 0.7rem;
}

.change-password button:hover {
    opacity: 1;
}

.change-password .done-icon {
    position: absolute;
    right: 4px;
    top: 50%;
}

.disable {
    display: none;
}


/* admin */

.section {
    display: none;
}

.show {
    display: block;
}

.view {
    display: none;
    position: fixed;
    top: 0;
    left: 240px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.287);
    z-index: 6;
    transition: all 0.3s ease;
    animation: showProfile 0.3s ease;
}

.view-space {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 40%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.view-task-space {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.view__action {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.employee,
.manager,
.admin {
    display: flex;
    width: 100%;
    height: 100%;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 240px;
    min-width: 240px;
    height: 100vh;
    background-color: rgb(113, 118, 189);
    box-sizing: border-box;
    overflow: hidden;
}

.navigation__logo {
    height: 41px;
    border-bottom: 2px solid white;
}

.navigation__logo a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navigation__logo-image {
    padding: 0.5rem;
    width: 50px;
}

.navigation__items {
    list-style: none;
    padding-left: 0px;
}

.navigation__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.navigation__item a:hover {
    background-color: rgba(192, 169, 147, 0.555);
    transform: scale(105%);
    border-left: 12px solid rgb(255, 255, 255);
}

.navigation__item a {
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    display: inline-block;
    width: 100%;
    transition: all 0.5s ease;
}

a.active::before {
    display: none;
}

a.active {
    background-color: rgb(63, 194, 118);
}

.navigation__item a::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: 6px solid transparent;
    border-right-color: rgb(255, 255, 255);
}

.navigation__item__text {
    margin-left: 1rem;
}

.navigation__logout {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 0.5rem;
}

.navigation__logout span {
    margin-left: 0.4rem;
    padding-top: 0.2rem;
}

.container {
    height: 100%;
    width: 100%;
}

.container__header {
    display: flex;
    justify-content: space-between;
    height: 41px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.container__header__search {
    position: relative;
}

.container__header__search-input {
    position: absolute;
    left: 41px;
    border: none;
    font-size: 0.7rem;
    letter-spacing: 1px;
    outline: none;
    line-height: 38px;
    padding-top: 2px;
}

.container__header__profile {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__header__profile-image {
    width: 41px;
    height: 41px;
}

.container__header__profile-image img {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.container__header__profile-image img:hover {
    border: 2px solid rgb(52, 50, 180);
    box-sizing: border-box;
}

.container__header__profile-name {
    font-weight: 700;
}

.container__header__profile-notify {
    margin-right: 2rem;
    cursor: pointer;
}

.notify-number.active {
    display: block;
}

.notify-number {
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    right: 28px;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.6rem;
    z-index: 1;
}

.notify__items {
    display: none;
    position: absolute;
    top: 100%;
    right: 5px;
    list-style: none;
    background-color: white;
    padding-left: 0;
    margin: 0;
    border: 1px solid rgb(150, 109, 226);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 200px;
    max-height: 300px;
    min-height: 150px;
    height: fit-content;
    overflow-y: scroll;
    z-index: 2;
}

.notify__item {
    padding: 0.2rem;
}

.notify__items::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
}

.notify__items::-webkit-scrollbar-thumb {
    background-color: #32eb21;
}

.notify__items::before {
    content: "";
    position: absolute;
    top: -17px;
    right: 30px;
    border: 0.5rem solid transparent;
    border-bottom-color: rgb(150, 109, 226);
}

.notify__item-name {
    font-size: 0.6rem;
}

.notify__item-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

.notify__item-time {
    font-size: 0.6rem;
    font-weight: 700;
}

.notify__item-sender {
    display: inline-block;
    text-transform: capitalize;
}

.notify__item-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.notify__item-time {
    margin: 0;
}

.notify__items a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify__items a:hover {
    background-color: rgb(223, 216, 207);
}

.notify-icon::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    width: 20px;
    height: 20px;
}

.notify-icon:hover+.notify__items {
    display: block;
}

.notify-number:hover+.notify__items {
    display: block;
}

.notify__items:hover {
    display: block;
}


/* space */

.body {
    height: calc(100vh - 43px - 3rem);
    margin: 1.5rem;
    box-sizing: border-box;
}

.section {
    height: calc(100% - 2rem);
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.space__header-title {
    /* display: block; */
    width: 50%;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
}

.space__body-table {
    box-sizing: border-box;
    border: 1px solid rgb(30, 102, 124);
}

.space__body {
    height: 100%;
}

.table__thead {
    display: flex;
    justify-content: center;
}

.off-table__thead,
.task-table__thead,
.request-table__thead,
.office-table__thead,
.employee-table__thead {
    text-align: center;
    min-width: fit-content;
    background-color: rgb(30, 102, 124);
    color: white;
}

.off-table__thead+.off-table__thead,
.task-table__thead+.task-table__thead,
.request-table__thead+.request-table__thead,
.office-table__thead+.office-table__thead,
.employee-table__thead+.employee-table__thead {
    border-left: 1px solid rgb(255, 255, 255);
}

.admin .employee-table__tbody0,
.admin .employee-table__thead0 {
    width: 5%;
}

.admin .employee-table__tbody1,
.admin .employee-table__thead1 {
    width: 19%;
}

.admin .employee-table__tbody2,
.admin .employee-table__thead2 {
    width: 19%;
}

.admin .employee-table__tbody3,
.admin .employee-table__thead3 {
    width: 19%;
}

.admin .employee-table__tbody4,
.admin .employee-table__thead4 {
    width: 19%;
}

.admin .employee-table__tbody5,
.admin .employee-table__thead5 {
    width: 19%;
}

.table__tbody {
    display: block;
    height: calc(100vh - 9rem);
    overflow: scroll;
}

.table__tbody::-webkit-scrollbar {
    display: none;
}

.row-tbody {
    display: flex;
    border-bottom: 1px solid black;
}

.row-tbody:hover {
    background-color: #32eb21;
}

.employee,
.office {
    cursor: pointer;
}

.row-tbody div {
    text-align: center;
    box-sizing: border-box;
}

.row-tbody div+div {
    border-left: 1px solid black;
}


/* icons */

.add-employee-icon {
    position: relative;
    background: url(svgs/person_add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.add-office-icon {
    position: relative;
    background: url(svgs/domain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.add-task-icon {
    position: relative;
    background: url(svgs/add_task.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.add-icon {
    position: relative;
    background: url(svgs/add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.logout-icon {
    position: relative;
    background: url(svgs/logout.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

@keyframes showProfile {
    from {
        background-color: white;
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* office */

.office-table__tbody0,
.office-table__thead0 {
    width: 5%;
}

.office-table__tbody1,
.office-table__thead1 {
    width: 23%;
}

.office-table__tbody2,
.office-table__thead2 {
    width: 23%;
}

.office-table__tbody3,
.office-table__thead3 {
    width: 26%;
}

.office-table__tbody4,
.office-table__thead4 {
    width: 23%;
}

.request-table__tbody0,
.request-table__thead0 {
    width: 5%;
}

.request-table__tbody1,
.request-table__thead1 {
    width: 30%;
}

.request-table__tbody2,
.request-table__thead2 {
    width: 35%;
}

.request-table__tbody3,
.request-table__thead3 {
    width: 30%;
}

.manager .task-table__tbody0,
.manager .task-table__thead0 {
    width: 5%;
}

.manager .task-table__tbody1,
.manager .task-table__thead1 {
    width: 15%;
}

.manager .task-table__tbody2,
.manager .task-table__thead2 {
    width: 20%;
}

.manager .task-table__tbody3,
.manager .task-table__thead3 {
    width: 45%;
}

.manager .task-table__tbody4,
.manager .task-table__thead4 {
    width: 15%;
}

.off-table__tbody0,
.off-table__thead0 {
    width: 5%;
}

.off-table__tbody1,
.off-table__thead1 {
    width: 15%;
}

.off-table__tbody2,
.off-table__thead2 {
    width: 30%;
}

.off-table__tbody3,
.off-table__thead3 {
    width: 35%;
}

.off-table__tbody4,
.off-table__thead4 {
    width: 15%;
}


/* manager */

.manager .employee-table__tbody0,
.manager .employee-table__thead0 {
    width: 5%;
}

.manager .employee-table__tbody1,
.manager .employee-table__thead1 {
    width: 30%;
}

.manager .employee-table__tbody2,
.manager .employee-table__thead2 {
    width: 30%;
}

.manager .employee-table__tbody3,
.manager .employee-table__thead3 {
    width: 35%;
}


/* employee */

.employee .task-table__tbody0,
.employee .task-table__thead0 {
    width: 5%;
}

.employee .task-table__tbody1,
.employee .task-table__thead1 {
    width: 15%;
}

.employee .task-table__tbody2,
.employee .task-table__thead2 {
    width: 15%;
}

.employee .task-table__tbody3,
.employee .task-table__thead3 {
    width: 50%;
}

.employee .task-table__tbody4,
.employee .task-table__thead4 {
    width: 15%;
}


/* responsive */


/* Small devices (landscape phones, 576px and up) */

@media (max-width:767px) {}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) and (max-width:991px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (min-width: 1199px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}