:root {
    --main-color: rgb(24, 119, 242);
    --main-font: 'Nunito', sans-serif;
}

body {
    margin: 0;
    box-sizing: inherit;
    font-family: var(--main-font);
}


/* login.php */
.login-app {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background_login.jpg);
    background-size: cover;
}

.login {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34rem;
    width: 20rem;
    background-image: linear-gradient(rgba(76, 38, 212, 0.486), rgba(197, 172, 176, 0.472));
    display: inline-block;
    box-shadow: 0 0 1rem black;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.input__text {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 1.3rem;
    margin-bottom: 1rem;
    color: white;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.input__text:focus {
    transform: scale(105%);
}

.login__button {
    padding: 0.8rem 3rem;
    border-radius: 3rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.493);
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.login__button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(103%);
}

.login-app ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: var(--main-font);
    text-align: center;
    /* Firefox */
}

.login-app :-ms-input-placeholder,
/* Internet Explorer 10-11 */
.login-app ::-ms-input-placeholder

/* Microsoft Edge */
    {
    color: white;
    letter-spacing: 1px;
    font-family: var(--main-font);
    text-align: center;
}

.login__container {
    height: 100%;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.login__inputs {
    width: 85%;
}

.login__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.login__image {
    margin-top: 2rem;
}

.login__visibility {
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
    width: 22px;
    height: auto;
    cursor: pointer;
}

/* .input__text:focus~.login__visibility {
    display: block;
} */


/* responsive */
/* Small devices (landscape phones, 576px and up) */
@media (max-width:767px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:991px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (min-width: 1199px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}